<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./head"); -%>
    <title>エラーページ</title>
  </head>

  <body>
    <div class="Maincontainer">
      <%- include("./header"); -%>

      <main class="Maincontainer__body">
        <div>
          <h1 class="danger-color">エラー</h1>
          <p class="alert-color">Path : <%= req.url %></p>
          <p class="alert-color">Method : <%= req.method %></p>
          <p class="alert-color">Message : <%= error.message %></p>
          <a class="Form__button" href="/">戻る</a>
        </div>
      </main>

      <%- include("./footer"); -%>

      <!-- /.Maincontainer -->
    </div>
  </body>
</html>
