<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../head"); -%>
    <title>削除ページ | <%= singleBlog.title %></title>
  </head>

  <body>
    <div class="Maincontainer">
      <%- include("../header"); -%>

      <aside class="Maincontainer__side"></aside>

      <main class="Maincontainer__body">
        <h1 class="alert-color">記事を削除する</h1>

        <form class="Article__container" action="/blog/delete/<%= singleBlog._id %>" method="post">
          <img class="Article__img" src="/public/images/<%= singleBlog.image %>" alt="blog-image" />
          <h1 class="Article__title"><%= singleBlog.title %></h1>
          <p class="Article__body"><%= singleBlog.textBody %></p>

          <div class="Article__bottom">
            <a class="Form__button" href="/blog/<%= singleBlog._id %>">戻る</a>
            <button class="Form__button danger-color" type="submit">削除する</button>
          </div>
        </form>
      </main>

      <%- include("../footer"); -%>

      <!-- /.Maincontainer -->
    </div>
  </body>
</html>
