<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../head"); -%>
    <title>記事ページ | <%= singleBlog.title %></title>
  </head>
  <body>
    <%- include("../header"); -%>
    <div>
      <main>
        <h1><%= singleBlog.title %></h1>
        <img src="/public/images/<%= singleBlog.image %>" alt="blog-image" />
        <p><%= singleBlog.textBody %></p>
        <div>
          <% if(session !== undefined) { %>
          <a href="/blog/update/<%= singleBlog._id %>">編集</a>
          <a href="/blog/delete/<%= singleBlog._id %>">削除</a>
          <% } %>
        </div>
      </main>
    </div>
    <%- include("../footer"); -%>
  </body>
</html>
