<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("../head"); -%>
    <title>編集ページ</title>
  </head>
  <body>
    <%- include("../header"); -%>
    <main>
      <div>
        <h1>記事を編集する</h1>
        <div>
          <form action="/blog/update/<%= singleBlog._id %>" method="post" enctype="multipart/form-data">
            <label for="title">タイトル</label>
            <input type="text" name="title" value="<%= singleBlog.title %>" required />

            <label for="summary">要約</label>
            <input type="text" name="summary" value="<%= singleBlog.summary %>" required />

            <label for="currentImage">現在のイメージ</label>
            <input type="hidden" name="currentImage" value="<%= singleBlog.image %>" />
            <img src="/public/images/<%= singleBlog.image %>" alt="blog-image" />
            <label for="attachment">新しいイメージ</label>
            <img id="attachment-preview" />
            <input type="file" name="attachment" id="attachment" accept="image/*" required />

            <label for="textBody">本文</label>
            <textarea name="textBody" rows="15" required><%= singleBlog.textBody %></textarea>
            <br />
            <button type="submit">変更を反映する</button>
          </form>
        </div>
      </div>
    </main>
    <%- include("../footer"); -%>
  </body>
</html>

<%- include("../common/previewAttachment", {src: "attachment", dest: "attachment-preview"}) -%>
