<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include("./head"); %>
    <title>Indexページ</title>
  </head>
  <body>
    <%- include("./header"); %>
    <main>
      <div>
        <% allBlogs.forEach( (blog) => { %>
        <div>
          <a href="blog/<%= blog._id %>">
            <img src="/public/images/<%= blog.image %>" alt="blog-image" />
            <h2><%= blog.title %></h2>
            <p><%= blog.summary %></p>
          </a>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include("./footer"); %>
  </body>
</html>
